
$color-white:          #fff;
$color-background:     #3b4163;
$color-bar:            #53555d;
$color-skin:           #fece8a;
$color-corpus--light:  #8ac657;
$color-corpus--dark:   #4ea06a;
$color-legs:           #3c5a92;
$color-letter:         #e6e6e7;
$color-letter--active: #53555d;
$color-button:         #ffba00;
$color-missed-letter:  #4d69fa;
