@import './colors';
@import './mixins';

@font-face {
  font-family: AllerDisplay;
  src: url('/assets/fonts/AllerDisplay.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  @include font-size(13);
  font-family: AllerDisplay;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: $color-background;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}
