<div class="folk__container">
  <div class="bar"></div>
  <div class="folk__head"></div>
  <div class="folk__neck"></div>
  <div class="folk__corpus">
    <div class="folk__right-arm">
      <div class="folk__right-hand"></div>  
    </div>
    <div class="folk__left-arm">
      <div class="folk__left-hand"></div>
    </div>
  </div>
  <div class="folk__legs">
    <div class="wrapper--right">
      <div class="folk__right-leg">
        <div class="folk__right-foot"></div>
      </div>
    </div>
    <div class="wrapper--left">
      <div class="folk__left-leg">
        <div class="folk__left-foot"></div>
      </div>
    </div>
  </div>
</div>