@import '../../styles/colors';

$border-radius: 10px;

// TODO pamietac o rozdzielczosciach
.container {
  background-color: $color-white;
  height: auto;
  min-height: 980px;
  width: 90%;
  max-width: 1600px;
  padding: 70px;
  margin: 0 auto;
  margin-top: 70px;
  overflow: visible;
}

.guess-letter {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &--active {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  &-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: $color-letter;
    height: 140px;
    width: 125px;
    border-radius: $border-radius;
    margin: 4px;
    color: $color-white;
    text-transform: uppercase;

    &--active {
      background-color: $color-letter--active;
    }
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color-background, 0.7);
}
