















https://github.com/ciesielskico/netguru-hangman





<div class="container" style="display: flex; flex-direction: column;">
  <app-folk></app-folk>
  <!-- app-letters-to-guess -->
  <div style="display: flex; flex-wrap: wrap; margin-left: -4px; margin-right: -4px;">
    <div class="guess-letter">a</div>
    <div class="guess-letter">f</div>
    <div class="guess-letter">s</div>
    <div class="guess-letter">f</div>
    <div class="guess-letter">a</div>
    <div class="guess-letter">f</div>
    <div class="guess-letter">s</div>
    <div class="guess-letter">f</div>
    <div class="guess-letter">s</div>
    <div class="guess-letter">d</div>
    <div class="guess-letter guess-letter--active">f</div>
  </div>
</div>