<div class="container">
  <div class="flex--wrap layer-1">
    <div class="container--half">
      <app-folk [lives]="lives"></app-folk>
    </div>
    <div class="container--half flex--column">
      <h3 class="missed-letter__message">You missed:</h3>
      <div class="flex--wrap">
        <span *ngFor="let missed of missedLetters" class="missed-letter">{{ missed }}</span>
      </div>
    </div>
  </div>

  <!-- app-letters-to-guess -->
  <div class="flex--wrap guess-letter__wrapper layer-1">
    <div *ngFor="let empty of emptyBoxes" class="guess-letter__box"></div>
    <div *ngFor="let letter of wordToGuessArray" class="guess-letter__box guess-letter__box--active">
      <span [ngClass]="{'guess-letter--active': isLetterGuessed(letter)}" class="guess-letter">
        {{ letter }}
      </span>
    </div>
  </div>
</div>

<!-- modal window -->
<div *ngIf="status.over" class="modal layer-2">
  <h3 class="modal__message">
    <span *ngIf="status.won">
      Good Job!
    </span>
    <span *ngIf="!status.won">
      Game over
    </span>
  </h3>
  <button (click)="resetGameHandler()" class="modal__button">New word</button>
</div>